[submodule "art"]
	path = art
	url = https://github.com/prizepun4973/art
[submodule "assets"]
	path = assets
	url = https://github.com/prizepun4973/assets
[submodule "example_mods"]
	path = example_mods
	url = https://github.com/prizepun4973/modTemplate
